[Unit]
Description=Reset recurring tasks once a day

[Timer]
OnCalendar=*-*-* 00:30:00
Persistent=true
Unit=onboarding-recurring-tasks.service

[Install]
WantedBy=timers.target
